 @import url(global.css);

/* header */
    header{
        display: flex;
        justify-content: center;
        gap: 83px;
        align-items: center;
        padding: 17px 130px;
        background-color: var(--light-gray-1);      
    }

    .nav-header ul{
        display: flex;
        gap: 21px;
        list-style: none;        
    }

    .nav-header a{
        text-decoration: none;
        color: #737373;
    }

    .navigation{
        display: flex;
        gap: 235px;
        align-items: center;
    }

    .header-buttons{
        display: flex;
        align-items: center;
    }

    .login-button{
        background-color: var(--light-background-color);
        color: var(--primary-color);
    }

    .member-button{
        padding: 15px 25px;
        color: var(--light-text-color);
        background-color: var(--primary-color);
        width: 214px;
        height: 52px;
        border-radius: 5px;
        margin-left: 45px;
    }

    .arrow{
        margin-left: 15px;
    }
/* fim do header */
/* main */
.main-section{
    background-color: var(--light-gray-1); 
}
.main-container{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info{
    margin-top: 135px;
    margin-left: 116px;
}

.main-info h1{
    font-size: 58px;
    width: 573px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.main-info p{
    color: var(--second-text-color);
    width: 376px;
    margin-bottom: 30px;
    font-size: 20px;
}

.main-buttons{
    display: flex;
    gap: 10px;
}

.quote{
    padding: 15px 36px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 37px;
}

.learn{
    padding: 15px 36px;
    background-color: var(--light-background-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 37px;
}

.main-img{
    margin-top: 58px;
    margin-right: 113.5px;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.card-one{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 35px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-container{
    display: flex;
    width: 314px;
    gap: 15px;
}

.card-image{
    width: 48px;
}

.card-one h2{
    font-size: 16px;
}

.card-one p{
    width: 350px;
    color: var(--second-text-color);
    margin-left: 40px;
    margin-top: 15px;
}

.card-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 35px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-two h2{
    font-size: 16px;
}

.card-two p{
    width: 350px;
    color: var(--second-text-color);
    margin-left: 40px;
    margin-top: 15px;
}

.card-three{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 35px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.card-three h2{
    font-size: 16px;
}

.card-three p{
    width: 350px;
    color: var(--light-text-color);
    margin-left: 40px;
    margin-top: 15px;
}
/* fim do main */
/* strategy */
.strategy-section{
    margin-top: 53px;
    background-color: var(--light-gray-1);
}

.strategy-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.strategy-info{
    margin-top: 112px;
    justify-content: center;
}

.strategy-info h2{
    width: 468px;
    text-align: center;
    font-size: 40px;
    color: var(--text-color);
}

.strategy-info p{
    width: 470px;
    text-align: center;
    font-size: 14px;
    color: var(--second-text-color);
    margin-top: 10px;
}

.strategy-image{
    width: 1055px;
    margin-bottom: 55px;
}
/* fim do strategy */
/* clients */
.clients-section{
    background-color: var(--light-gray-1);
}

.clients-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 0px;
    gap: 80px;
}

.clients-info{
    justify-content: center;
}

.clients-info h2{
    text-align: center;
    margin-bottom: 10px;
}

.clients-info p{
    text-align: center;
    color: var(--second-text-color);
    font-size: 14px;
    width: 470px;
}

.clients-card{
    background-color: var(--light-background-color);
    padding: 40px 35px;
    width: 744px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 433px;  
    gap: 15px;
}

.clients-card-info p{
    font-size: 14px;
    text-align: center;
    color: var(--second-text-color);
}

.clients-card-info h3{
    font-size: 24px;
}

.clients-card-info h4{
    font-size: 14px;
    color: var(--second-text-color);
}
/* fim do clients */